<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Test Suite">
    <test name="Test" thread-count="1">
        <classes>
            <class name="com.testng.practice.OrangeHRMTest"/>
            <class name="com.testng.practice.SampleTestNGPrgm"/>
            <class name="com.testng.practice.TestAnnotationsEx"/>
        </classes>
    </test>
</suite>